@charset "UTF-8";

*{margin: 0;
    font-family: Arial, Helvetica, sans-serif;}

body{background-color: #f0f2f5;;}



.padding{padding: 70px 0;}



.margin{width: 75%;
    margin: auto;
    padding: 20px 0;}



.flex{display: flex;}

@media(max-width: 1100px){
    .flex{flex-direction: column;
        align-items: center;}

    .facebook{text-align: center;}    

    .login{align-items: center;}
    .login-1{width: 75%;}}



.facebook{width: 80%;}

.facebook h1{color: rgb(0, 17, 255);
    font-size: 3em;
    padding-top: 80px;
    margin-bottom: 10px;}

.facebook h2{font-weight: normal;
    font-size: 1.8em;}



.login{display: flex;
    flex-direction: column;}

.login p{text-align: center;}

.login p a{text-decoration: none;
    color: black;
    font-weight: bold;}

.login p a:hover{text-decoration: underline;}

.login-1{display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(128, 128, 128, 0.493);
    margin: 25px 0;}        

.login input{padding: 15px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 17px;}



.entrar{text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(0, 89, 255);
    margin-bottom: 15px;}



.esqueceu{text-align: center;
    margin-bottom: 30px;}



.criar{text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(2, 185, 2);
    width: 150px;
    margin: auto;}














